html, body {
  width: 100vw;
  height: 100vh;
  margin: 0 ;
  background-color:#3cdfff;
  overflow: hidden;
}
/* .accueil {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: gainsboro;
}

.search {
  background-color: gainsboro;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  padding: 5px;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
  display: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.dropdown-row:hover {
  background-color: gainsboro;
}

input {
  width: 220px;
}

.search-inner {
  display: flex;
}

.citycontent {
  width: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.citymodal {
  width: max-content;
  background-color: gainsboro;
  border-radius: 10px;
  margin-top: 5px;
  padding: 20px;
}

.warning {
  font-size: 12px;
  margin: 5px;
} */